.btnAdmin{
    background: none;
    border: 1;
    border-color: white;
    color: white;
    margin-right: 1%;
    border-style: solid;
    font-weight: bold;
    height: 30px;
    width: 15%;
}

.btnAdmin:hover{
    background-color:rgb(157, 136, 136);
    transition-duration: 0.4s;
}