.divWrapMainContent{
    display: flex;
    background-color: black;
}

.divMainContent{
    margin: auto;
    padding: 0;
    text-align: center;
}

.contentTheme{
    font-size:30vw;
}
/* 
.contentSubTheme{
}

.contentRemainTheme{

}

.contentCountUmb{

} */