.divWrapMainContent{
    display: flex;
}

.divMainContent{
    margin: auto;
    text-align: center;
}

.contentTheme{
    font-size:10vw;
    margin: 0;
}

.contentSubTheme{
    font-size:2vw;
    margin: 0;
}

.contentRemainTheme{
    font-size:4vw;
    margin-top:20%;
}

.contentCountUmb{
    font-size:8vw;
    margin:0;
}