@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

.divWrapMainContent{
    font-family: 'NanumSquare', sans-serif;
    display: flex;
}

.divMainContent{
    margin: auto;
    text-align: center;
}

.contentUserTheme{
    font-size:2vw;
    margin-top: 20%;
    margin-bottom: 20%;
}

.contentTheme{
    font-size:2vw;
    padding: 0;
    margin: 0;
    padding-top: 20%;
    font-weight: 900;
}

.contentSubTheme{
    margin: 0;
    padding: 0;
    font-size:1.5vw;
    font-weight: lighter;
}

.buttonGetUmbrella{
    background: none;
    font-size: 1.3vw;
    font-weight: 900;
    background-color: white;
    border: 1;
    border-style: solid;
    border-color: white;
    color: #0443ef;
    width: 15vw;
    height: 5vh;
    margin-top: 5%;
}